@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_line/header__lang-link_line.css);
@import url(./__links/header__links.css);
@import url(./__list-item/header__list-item.css);
@import url(./__logo/header__logo.css);

.header {
  max-width: 1184px;
  margin: 0 auto 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1200px) {
  .header {
    width: 1100px;
  }
}

@media (max-width: 1100px) {
  .header {
    width: 1000px;
  }
}

@media (max-width: 1024px) {
  .header {
    width: 928px;
  }
}

@media (max-width: 950px) {
  .header {
    width: 900px;
  }
}

@media (max-width: 900px) {
  .header {
    width: 800px;
  }
}

@media (max-width: 800px) {
  .header {
    width: 740px;
  }
}

@media (max-width: 768px) {
  .header {
    width: 720px;
  }
}

@media (max-width: 740px) {
  .header {
    width: 500px;
  }
}

@media (max-width: 600px) {
  .header {
    width: 450px;
  }
}

@media (max-width: 500px) {
  .header {
    width: 400px;
  }
}

@media (max-width: 425px) {
  .header {
    width: 343px;
  }
}

@media (max-width: 380px) {
  .header {
    width: 343px;
  }
}

@media (max-width: 360px) {
  .header {
    width: 300px;
  }
}

@media (max-width: 320px) {
  .header {
    width: 288px;
  }
}
