@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_line/header__lang-link_line.css);
@import url(./__links/header__links.css);
@import url(./__list-item/header__list-item.css);
@import url(./__logo/header__logo.css);

.header {
  max-width: 1184px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/*от 1280 пикселей — от стандартных ноутбуков и до бесконечности*/
@media (min-width: 1280px) {
  .header {
    max-width: 1184px;
  }
}

/*от 1024 и до 1280 — для небольших ноутбуков*/
@media (max-width: 1280px) {
  .header {
    max-width: 1184px;
  }
}

/*от 768 и до 1024 пикселей — от вертикального до горизонтального положения планшета*/
@media (max-width: 1024px) {
  .header {
    max-width: 928px;
  }
}

/*до 768 пикселей — мобильные устройства*/
@media (max-width: 768px) {
  .header {
    max-width: 720px;
  }
}

/*до 425 пикселей — мобильные устройства*/
@media (max-width: 425px) {
  .header {
    max-width: 288px;
  }
}
